*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body{
  width: 100vw;
  height: 100vh;
}

#maincontentLogin {
  width: 95vw;
 height: 90vh;
 border: 1px solid black;
 display: flex;
 position: relative;
}
footer{
  width: 95vw;
  height: 5vh;
  border: 1px solid black;
}

#oneButtonLogin   {
  border: 1px solid red;
  width: 40vw;
  height: 90vh;

}

#traditionalLogin {
  border: 1px solid red;
  width: 40vw;
  height: 90vh;

}

.sm {
  align-self: center;
  border: 1px solid black;
  margin: 25% auto;
  
}