* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
body {
  width: 100vw;
  height: 100vh;
  padding: 2.5vh 2.5vw;
  font-family: Arial, Helvetica, sans-serif;
}
/* Big Container for all Login options */
#maincontentLogin {
  width: 95vw;
  height: 90vh;
  border: 2px solid rgb(218, 218, 218);
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: aliceblue;
}
/*  Register and PW reset */
#footer {
  width: 95vw;
  height: 5vh;
  border: 2px solid rgb(211, 211, 211);
  background-color: rgb(238, 252, 255);
}
#footer > span {
  text-align: center;
  display: block;
  font-size: 2rem;
}
#footer > span > a {
  color: blue;
  text-decoration: none;
}
/* Container for One button Login  */
#oneButtonLogin,
#traditionalLogin {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* oneklick links */
#twitter,
#facebook,
#google {
  width: 30vw;
  display: block;
  padding: 2vh;
  font-size: 3rem;
  text-decoration: none;
  text-align: center;
  color: white;
}
#twitter {
  background-color: #1da1f2;
}
#facebook {
  background-color: #4267b2;
}
#google {
  background-color: #dd4b39;
}
/* divider space between */
#divider {
  width: 15%;
  height: 100%;
  background-color: #4267b2;
}
#divider > div:first-of-type {
  position: absolute;
  top: 20%;
  right: 50%;
  border: solid grey 2px;
  height: 60%;
  width: 0;
  z-index: 0;
}
#divider > div:last-of-type {
  position: absolute;
  margin: 45vh 5.75vw;
  border: solid grey 2px;
  height: 4rem;
  width: 4rem;
  z-index: 1;
  border-radius: 50%;
  background-color: white;
}
/* traditional login on right */
#traditionalLogin > h2 {
  text-align: center;
  font-size: 4rem;
}
form {
  height: 90vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form > input {
  display: block;
  border: none;
  border-bottom: 2px solid grey;
  width: 30vw;
  align-self: center;
  height: 10vh;
  text-align: center;
  font-size: 3rem;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #4267b2; */
}

div > label {
  font-size: 2rem;
  color: #8a8a8a;
}
[type="checkbox"] {
  width: 2rem;
  height: 2rem;
}
form > div > input:last-of-type {
  width: 15vw;
  height: 5vh;
  font-size: 2rem;
  border: none;
  background-color: #65b1ff;
  border-radius: 5px;
  color: white;
}
form > div > input:hover {
  cursor: pointer;
  background-color: rgb(49, 80, 255);
}
