*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body{
  width: 100vw;
  height: 100vh;
  padding: 2.5vh 2.5vw;
}

#maincontentLogin {
  width: 95vw;
 height: 90vh;
 border: 1px solid black;
 display: flex;
 position: relative;
}
footer{
  width: 95vw;
  height: 5vh;
  border: 1px solid black;
}

#oneButtonLogin , #traditionalLogin{
  border: 1px solid red;
  width: 40vw;
  height: 90vh;
}

#divider {
  border: 1px solid green;
  width: 15vw;
  height: 90vh;
}

.sm {
  border: 1px solid black;
  margin: 25% auto;
}

form  {
  height: 90vh;
  width: 40vw;
}

form>input{
  display: block;
  border:none;
  border-bottom: 2px solid grey;
}


.sm>a{
  text-decoration: none;
  width: 30vw;
  border: 1px solid purple;
  display: block;
  margin: 0 auto;
  padding: 2vh ;
}

